
        body{
            background-color: black;
    }
        div{
            margin:30px;
            color: white;
            background-color: darkgray;
            font-family: "Courier New"
        }
        /*for some reason the header isn't working*/


        
        .header{
            background-image: url("background.jpg");
        }
        
        .facePict{
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            border: 5px solid burlywood;
        }
        .firstHeader{
            border-style: solid;
            padding: 5px;
        }
        .name{
            text-align: center;
            padding-top: 2rem;
        }
        .subTitle{
            display: inline-block;
            width:50%;
            padding-top: 0.5rem;
        }
        .location{
            display: inline-flex;
            text-align: right;
            padding-top: 0.5rem;
        }
        
        .closingStatement{
            text-align: center;
            padding-top: 0.5rem;
            padding-bottom: 2rem;
        }
        
        
        .menuDiv{
            padding-bottom: 2.5rem;
            border: 5px solid burlywood;
            justify-content: center;
        }
        .menu{
            display: inline; /* the default for span */
            width: 100px;
            height: 100px;
            padding: 5px;
            text-align: center;
            justify-content: center;
        }
        .educationMenu{
            padding: 1rem;
        }
        .experienceMenu{
            padding: 1rem; 
        }
        .skillsMenu{
            padding: 1rem;
        }
        .contactsMenu{
            padding: 1rem;
        }

        
        .body{
            border-style: solid;
            padding: 5px;
        }
        /* I truly struggled to amke these individual inline structures so I put them in a table*/
        .education{
            align-items: flex-start;
            display: inline-block;
            width:65%;
        }
        .experience{
            align-items: flex-start;
            display: inline-block;
            width:75%;
        }
        .funThings{
            align-items: flex-end;
            display: inline-block;
            width:25%;
        }
        
        
        
        
        .footer{
            border-style: solid;
            padding: 5px;
            border: 5px solid burlywood;
        }
        .contactHeading{
            text-align: center;
        }
        .image{
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            padding-left: 10%;
        }
        .link{
            display: center;
        }
        .image1{
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            padding-top: 1rem;
            padding-left: 10%;
        }
        .phoneNumber{
            display: inline-block;
        }